#btncolor{
    background-color: blueviolet;
    
}

#fondoLogin{
    background-image: url('https://serviciotecnicopj.files.wordpress.com/2021/05/servicio-tecnico-de-celulares-smartphonesperu-3-3.jpg')
}

#fondoTransparente{
    background-color: rgba(255, 255, 255, 0.553); border-radius: 10px;

}

#letrasBlancas{
    color: #ffff;

}

#letrasRojas{
    color: red;

}