.contenedor{
  max-width: 100%;
  flex-basis:100% ;
  width: 100%;
  height: 110vh;
  margin: 0;
  padding: 0;
}
.unocontenido {
  position: relative !important;
  width: 50%;
  top: 80px;
  left: 2%;
  max-width: 50%;
  flex-basis: 50%;
  height: 100vw !important;
  min-height: 100vh !important;
  max-height: 100vh !important;
  margin: 0;
  padding: 0;
  display: flex !important;
  justify-content: center !important;
}
.formulario {
  position: relative !important;
  top: 170px;
  margin: 0 auto !important;
  min-height: 70vh !important;
  max-height: 70vh !important;
  width: 45vw !important;
  max-width: 45vw !important;
  flex-basis: 45vw !important;
}

.inputa {
  margin: 0 !important;
  padding: 0 !important;
  margin-bottom: 3.5% !important;
}

.inputb {
  position: absolute !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 22vw !important;
  min-width: 22vw !important;
  max-width: 22vw !important;
  flex-basis: 22vw !important;
}
.doss {
  margin-left: 23vw !important;
}
.inputc {
  width: 22vw !important;
  min-width: 22vw !important;
  max-width: 22vw !important;
  flex-basis: 22vw !important;
  position: absolute !important;
  top: 15vh !important;
}
.tress {
  margin-left: 23vw !important;
}
.inputcuatr {
  position: absolute !important;
  min-width: 100% !important;
  max-width: 100% !important;
  width: 100% !important;
  top: 18vh !important;
  transform: translate(0%, 1.5vw);
  margin-top: 1% !important;
  margin-bottom: 5% !important;
  margin-top: 2vw !important;
}
.btns {
  justify-content: center !important;
  align-content: space-between !important;
  position: absolute;
  top: 84% !important;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  flex-basis: 100% !important;
  height: 100vw !important;
  max-height: 100vw !important;
  min-height: 100vw !important;
  transform: translate(0%, 13vw) !important ;
}
.btns {
  position: relative;
  top: 3vw !important;
  margin: 0 auto !important;
  justify-content: center !important;
  max-height: 10% !important;
  min-height: 10% !important;
  height: 10% !important ;
}
.titulo {
  position: absolute;
  top: 150px;
  width: 50%;
}
.text {
  font-weight: 800;
}
.doscontenido {
  position: absolute;
  width: 48%;
  right: 0 !important;
  top: 70px;
  height: 100vw !important;
  min-height: 100vh !important;
  max-height: 100vh !important;
  border-radius: 8px !important;
}
.repe {
  position: absolute;
  right: 0 !important;
  border-radius: 8px !important;
  width: 100% !important;
  max-width: 100% !important;
  min-width: 100% !important;
  flex-basis: 100% !important;
  height: 100vw !important;
  min-height: 100vh !important;
  max-height: 100vh !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(2px) !important;
  border: rgba(255, 255, 255, 0.18) !important;
}
.form-control:focus {
  background-color: rgba(205, 205, 205, 0.2) !important;
  transition: all 600ms;
}
.form-control:hover {
  border-color: #51d1f6 !important;
  transition: all 600ms;
}

button.btouu:hover {
  background-color: #51d1f6 !important;
  border: none !important;
  font-weight: 600 !important;
  transition: all 600ms;
}
select,
textarea,
input {
  border-color: rgb(10, 10, 10) !important;
}
.intro {
  color: rgba(205, 205, 205);
  font-weight: 600;
}

.nasi{
  position: relative;
  bottom: 3.8vw !important;
  margin: 0 !important;
  height: 16vw !important;
  margin-top: 72px !important;
  padding-bottom: 1% !important;
}
.cuerpo{
  height: 23vw !important;
}
.footerr{

  position: absolute;
  bottom: -52vh;
  min-height:35% !important ;
  max-height: 35% !important;
  height: 35% !important;
}


/*QUERYS -------------------------------------------------------------*/

@media only screen and (max-width: 1366px) {
  .inputc {
    margin-top: 3.5vw !important;
    top: 15vh !important;
  }
  .inputcuatr {
    margin: 0 !important;
    padding: 0 !important;
    transform: translate(0%, 6vw) !important;
    margin-top: 5vw !important;
    margin-top: 2vw !important;
  }
}

@media only screen and (max-width: 960px) {
  .formulario {
    min-height: 55vh !important;
    max-height: 55vh !important;
  }
  .inputa {
    margin: 0 !important;
    padding: 0 !important;
    margin-bottom: 5% !important;
  }

  .inputb {
    position: absolute !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 20vw !important;
    min-width: 20vw !important;
    max-width: 20vw !important;
    flex-basis: 20vw !important;
  }
  .doss {
    margin-left: 25vw !important;
  }
  .inputc {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    flex-basis: 100% !important;
    position: absolute !important;
    top: 10vh !important;
  }
  .tress {
    transform: translate(-25vw, 10vw) !important;
    margin-left: 25.5vw !important;
  }
  .inputcuatr {
    top: 23vh !important;
  }

  .btns {
    transform: translate(0%, 38vw) !important;
  }
  .doscontenido {
    top: 80px !important;
    min-height: 100vw !important ;
    max-height: 100vw !important ;
    height: 100vw !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .unocontenido {
    min-height: 100vw !important ;
    max-height: 100vw !important ;
    height: 100vw !important;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: content-box !important;
  }
  .repe {
    min-height: 100vw !important ;
    max-height: 100vw !important ;
    height: 100vw !important;
  }

  .buscadore{
    position: relative !important; 
    top: -60px !important;
    left: 250px !important;
}
.login{
    position: relative !important; 
    top: -70px !important;
    left: 150px !important;
}
.footerr{
  bottom: -18vh !important;
}
.navs{
  position: relative !important;
  width: 100% !important;
  max-width:100%  !important;
  flex-basis:100%  !important;
  max-height:10vh !important;
  min-height: 10vh !important;
  height: 10vh !important;
  transform: translate(-12vw,0%) !important;
}
}

@media only screen and (max-width: 720px) {
  .formulario {
    position: relative !important;
    top: -10vw !important;
    height: 200vw !important;
    min-height: 100vw !important;
    max-height: 100vw !important;
    width: 100vw !important;
    min-width: 100vw !important;
    max-width: 100vw !important;
    top: 80px!important;
    transform: translate(0%,-7vw) !important;
 
  }
  .repe,
  .doscontenido {
    visibility: hidden;
  }
  .unocontenido {
    position: relative !important;
    top: 0% !important;
    width: 100vw !important;
    min-width: 100vw !important;
    flex-basis: 100vw !important;
    flex-direction: column;
    height: 70vh !important;
    min-height: 70vh !important;
    max-height: 70vh !important;
    margin: 0 !important;
    padding: 0 !important;
    left: 0 !important;
    margin-bottom: 100vw !important;
    padding-bottom: 100vw !important;
  }
  .form-group {
    display: block !important;
    flex-direction: column !important;
    margin: 0  !important;
    padding: 0 !important;
  }

  .inputa {
    margin: 0 !important;
    padding: 0 !important;
    width: 95% !important;
    transform: translate(3.5%,-12vw) !important;
    
  }
  .asas,select{
    transform: translate(3%,-3vw) !important;
    width: 95vw !important;
  }
  .doss {
    display: block!important;
    min-width: 90vw !important;
    max-width: 90vw !important;
    flex-basis: 90vw !important;
    transform: translate(10vw,15vw) !important;
  }
  .anmn{
    width: 95vw !important;
    min-width: 95vw !important;
    max-width: 95vw !important;
    flex-basis: 95vw !important;
    transform: translate(-7vw,-4vw) !important;
 
  

  }
  .anmn1{
    width: 95vw !important;
    min-width: 95vw !important;
    max-width: 95vw!important;
    flex-basis: 95vw !important;
    transform: translate(.5%, -10vw) !important;
    
    

  }
  .inputc {   
    position: relative !important;
    top: 100 !important;
    transform: translate(3vw,17vw) !important;
    width: 95vw !important;
    min-width: 95vw !important;
    max-width: 95vw!important;
    flex-basis: 95vw !important;
  }
 
  .anmn2{
    width: 95vw !important;
    min-width: 95vw !important;
    max-width: 95vw!important;
    flex-basis: 95vw !important;
    transform: translate(-0%, -5vw) !important;
 
  
  }

  .anmn3{
    width: 95vw !important;
    min-width: 95vw !important;
    max-width: 95vw!important;
    flex-basis: 95vw !important;
    transform: translate(3.5%, 18vw) !important;

  }

  .btns {
    position: relative !important;
    top: 100%;
    width: 90vw !important;
    min-width: 90vw !important;
    max-width: 90vw !important;
    margin-bottom: 30vw !important;
    height: auto !important;
  }
  .btn {
    transform: translate(0.5vw, 10vh) !important;
    width: 90vw !important;
    min-width: 90vw !important;
    max-width: 90vw !important;
  }
  label {
    display: none !important;
  }
  .titulo {
    transform: translate(7%, -8vh) !important;
    width: 90vw !important;
    max-width: 90vw !important;
  }
  .text {
    transform: translate(0%, 2vh) !important;
  }
 
  body{
    height: 100vw !important;
  }
  
  .footerr {
    bottom: -80vh !important;
  }
  .login {
    transform: translate(-40vw, 13vh) !important;
  }
  .buscadorUbica{
    transform: translate(52vw,20%) !important;
  }
}

/*QUERYS -------------------------------------------------------------*/